// Imports
@import 'utilities/colors';
@import 'utilities/font-face';
@import 'utilities/typography';
@import 'utilities/modifiers';
@import 'utilities/elements';
@import 'utilities/grid';

@import 'pages/home-page';

// Box sizing
html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

// Body
body {
    font-family: "Heebo", "Helvetica Neue", sans-serif;
    color: #000000;
    margin: 0;
    font-size: 16px;
    line-height: 1.8em;

    background-color: $offwhite;

    img {
        border: 0;
        max-width: 100%;
        vertical-align: middle;
    }

    // Main Sections
    header {
        background-color: $white;
        border-bottom: 2px solid $green;

        img { width: 150px; }

        @media only screen and (min-width: 300px ) and (max-width: 700px ) {
            img { width: 100px; }
        }
    }

    #important-alert-bar {
        background-color: $red;
        color: $white;
        grid-template-columns: 35px 1fr 20px;
    }

    footer {
        background-color: $lightgray;
        border-top: 2px solid $green;
    }

    // Mobile
    @media only screen and (min-width: 300px ) and (max-width: 700px ) {
        font-size: 14px;
        line-height: 1.5em;

        header {
            img { width: 100px; }
        }

        footer {
            .site-info { border-bottom: 1px solid $gray; }

            .site-links {
                ul > div { width: 50%; }
            }

            .copyright {
                background-color: $darkgreen;
                color: $white;
            }
        }
    }
}