// Imports
@import 'utilities/colors';
@import 'utilities/font-face';
@import 'utilities/typography';
@import 'utilities/modifiers';
@import 'utilities/elements';
@import 'utilities/grid';

@import 'pages/home-page';

// Box sizing
html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

// Body
body {
    font-family: "Heebo", "Helvetica Neue", sans-serif;
    color: #000000;
    margin: 0;
    font-size: 16px;
    line-height: 1.8em;

    background-color: $offwhite;

    img {
        border: 0;
        max-width: 100%;
        vertical-align: middle;
    }

    // Main Sections
    header {
        top: 0;
        z-index: 3;

        .site-head {
            background-color: $white;
            border-bottom: 2px solid $green;
            z-index: 3;

            img { width: 120px; }

            &.desktop {
                padding: 20px;
                grid-template-columns: 130px 2fr  1fr;

                li { display: inline-block; }

                form i {
                    top: 30px;
                    right: 35px;
                    color: $gray;
                }
            }

            &.mobile { display: none; }
        }

        .mobile-dropdown { display: none; }

        @media only screen and (min-width: 300px ) and (max-width: 970px ) {
            .site-head {
                grid-template-columns: 1fr 2fr 1fr;

                img {
                    width: 100px;
                    margin: 0 auto;
                }

                &.desktop { display: none; }
                &.mobile { display: grid; }
            }

            .mobile-dropdown {
                display: block;
                left: 0;
                right: 0;
                top: -230px;
                background-color: $white;
                z-index: 1;
                box-shadow: 0 2px 4px rgba(100, 100, 100, 0.2);

                a { display: block; }
            }
        }
    }

    #important-alert-bar {
        background-color: $red;
        color: $white;
        grid-template-columns: 35px 1fr 20px;
        padding: 20px;
        border-radius: 15px;

        @media only screen and (min-width: 300px ) and (max-width: 700px ) {
            padding: 10px;
            border-radius: 0px;
        }
    }

    footer {
        background-color: $lightgray;
        border-top: 2px solid $green;
    }

    @media only screen and (min-width: 300px ) and (max-width: 700px ) {
        font-size: 14px;
        line-height: 1.5em;

        footer {
            .site-info { border-bottom: 1px solid $gray; }

            .site-links {
                ul > div { width: 50%; }
            }

            .copyright {
                background-color: $darkgreen;
                color: $white;
            }
        }
    }
}