@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/heebo/Heebo-Regular.woff2") format("woff2"), url("/fonts/heebo/Heebo-Regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/material-icons/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("/fonts/material-icons/MaterialIcons-Regular.woff2") format("woff2"), url("/fonts/material-icons/MaterialIcons-Regular.woff") format("woff"), url("/fonts/material-icons/MaterialIcons-Regular.ttf") format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1.4em;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}
.material-icons.large {
  font-size: 1.7em;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  line-height: 1.3em;
}

h1, .h1 {
  font-size: 2.488em;
}

h2, .h2 {
  font-size: 2.074em;
}

h3, .h3 {
  font-size: 1.728em;
}

h4, .h4 {
  font-size: 1.44em;
}

h5, .h5 {
  font-size: 1.2em;
}

.bold {
  font-weight: bold;
}

.small {
  font-size: 0.8em;
  line-height: 1em;
}

.large {
  font-size: 1.5em;
}

.gray {
  color: #8E8E8E;
}

.lightgray {
  color: #e7e7e7;
}

.red {
  color: #9e2a2b;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

@media only screen and (min-width: 700px) {
  .container {
    min-width: 850px;
    max-width: 1250px;
    margin: 20px auto;
  }
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-sticky {
  position: sticky;
}

.border-bottom {
  border-bottom: 1px solid #C9C9C9;
}

.nomargin {
  margin: 0;
}

.margin-5 {
  margin: 5px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-10 {
  margin: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-30 {
  margin: 30px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-40 {
  margin: 40px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-left-40 {
  margin-left: 40px;
}

.margin-50 {
  margin: 50px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-right-50 {
  margin-right: 50px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-left-50 {
  margin-left: 50px;
}

.nopadding {
  padding: 0;
}

.padding-5 {
  padding: 5px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-30 {
  padding: 30px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-right-30 {
  padding-right: 30px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-left-30 {
  padding-left: 30px;
}

.padding-40 {
  padding: 40px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-right-40 {
  padding-right: 40px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-left-40 {
  padding-left: 40px;
}

.padding-50 {
  padding: 50px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-right-50 {
  padding-right: 50px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-left-50 {
  padding-left: 50px;
}

.card {
  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}
.card.shadow {
  box-shadow: 0 0px 4px rgba(100, 100, 100, 0.2);
}

a {
  background-color: transparent;
  color: #63a400;
  font-size: 1em;
  align-items: center;
  text-decoration: underline solid #6EB800;
}
a.dark-link {
  color: #222222;
}
a.white-link {
  color: #ffffff;
  text-decoration: underline solid #ffffff;
}
a.button {
  padding: 0.526em 1em;
  background-color: #63a400;
  border: 1px solid #63a400;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  display: inline-block;
}

form fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
form input[type=text] {
  padding: 1em 1.25em;
  width: 100%;
  background-color: transparent;
  border: 1px solid #C8C8C8;
  border-radius: 5px;
}
form input[type=checkbox] {
  display: inline-block;
  font-size: 1.3em;
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
  transition: none;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  form input[type=text] {
    padding: 0.625em 0.769em;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.grid {
  display: grid;
  grid-gap: 10px;
}
.grid.content-grid {
  display: contents;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.item-center {
  align-items: center;
}

.item-base {
  align-items: self-end;
}

/* Home page css */
@media only screen and (min-width: 700px) {
  #hero-wrap {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  #hero-wrap .hero-image {
    position: relative;
    height: 350px;
    overflow: hidden;
    grid-column: 1/-1;
    grid-row: 1/-1;
  }
  #hero-wrap .hero-image img {
    position: absolute;
    bottom: 0;
  }
  #hero-wrap #hero-search {
    grid-column: 1/3;
    grid-row: 3/4;
    z-index: 2;
  }
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  #hero-wrap {
    overflow: hidden;
    grid-template-rows: 140px minmax(0, 1fr);
  }
  #hero-wrap .hero-image {
    margin-left: 20px;
  }
  #hero-wrap fieldset {
    width: 100%;
  }

  #major-links {
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  #major-links > div {
    padding: 20px;
  }
  #major-links > div img {
    width: 70px;
    height: 70px;
  }
  #major-links #members {
    background-color: #e6e6e6;
  }
  #major-links #benefits {
    background-color: #f1f1f1;
  }
  #major-links #online {
    background-color: #f5f5f5;
  }
  #major-links #partners {
    background-color: #fdfdfd;
  }

  #important-alert hr {
    height: 15px;
    width: 80%;
    background: #9e2a2b;
    border: none;
    border-radius: 0px 10px 10px 0px;
  }
  #important-alert .card {
    background-color: #9e2a2b;
    color: #ffffff;
  }
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", "Helvetica Neue", sans-serif;
  color: #000000;
  margin: 0;
  font-size: 16px;
  line-height: 1.8em;
  background-color: #fafafa;
}
body img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}
body header {
  top: 0;
  z-index: 3;
}
body header .site-head {
  background-color: #ffffff;
  border-bottom: 2px solid #6EB800;
  z-index: 3;
}
body header .site-head img {
  width: 120px;
}
body header .site-head.desktop {
  padding: 20px;
  grid-template-columns: 130px 2fr 1fr;
}
body header .site-head.desktop li {
  display: inline-block;
}
body header .site-head.desktop form i {
  top: 30px;
  right: 35px;
  color: #8E8E8E;
}
body header .site-head.mobile {
  display: none;
}
body header .mobile-dropdown {
  display: none;
}
@media only screen and (min-width: 300px) and (max-width: 970px) {
  body header .site-head {
    grid-template-columns: 1fr 2fr 1fr;
  }
  body header .site-head img {
    width: 100px;
    margin: 0 auto;
  }
  body header .site-head.desktop {
    display: none;
  }
  body header .site-head.mobile {
    display: grid;
  }
  body header .mobile-dropdown {
    display: block;
    left: 0;
    right: 0;
    top: -230px;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(100, 100, 100, 0.2);
  }
  body header .mobile-dropdown a {
    display: block;
  }
}
body #important-alert-bar {
  background-color: #9e2a2b;
  color: #ffffff;
  grid-template-columns: 35px 1fr 20px;
  padding: 20px;
  border-radius: 15px;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  body #important-alert-bar {
    padding: 10px;
    border-radius: 0px;
  }
}
body footer {
  background-color: #e7e7e7;
  border-top: 2px solid #6EB800;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  body {
    font-size: 14px;
    line-height: 1.5em;
  }
  body footer .site-info {
    border-bottom: 1px solid #8E8E8E;
  }
  body footer .site-links ul > div {
    width: 50%;
  }
  body footer .copyright {
    background-color: #63a400;
    color: #ffffff;
  }
}