// greens
$darkgreen: #63a400;
$green: #6EB800;
$lightgreen: #7ACC00;

// neutrals
$darkgray: #222222;
$gray: #8E8E8E;
$lightgray: #e7e7e7;
$offwhite: #fafafa;
$white: #ffffff;

// yellows
$yellow: #FCBF49;
$lightyellow: #FBDDA2;

// red
$red: #9e2a2b;