// greens
$darkgreen: #63a400;
$green: #6EB800;
$lightgreen: #7ACC00;

// neutrals
$darkgray: #222222;
$lightgray: #8E8E8E;
$offwhite: #fafafa;
$white: #ffffff;

// yellows
$yellow: #FCBF49;
$lightyellow: #FBDDA2;