.grid {
    display: grid;
    grid-gap: 10px;

    &.content-grid { display: contents; }
}

.flex { display: flex; }

// Modifiers
.space-between { justify-content: space-between; }
.item-center { align-items: center; }
.item-base { align-items: self-end; }